<form>
  <fieldset>
    <legend>Todo</legend>
    <div class="form-group">
      <label for="title" class="col-sm-2 col-form-label">Title</label>
      <input type="text" name="title" class="form-control" [(ngModel)]="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" name="description" class="form-control" [(ngModel)]="description" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-primary" (click)=addTodo()>Submit</button>
  </fieldset>
</form>